@media (max-width: 991.98px) {
  .form-search {
    position: absolute;
    top: 100%; /* Расположить форму под меню */
    left: 0; /* Выравнивание по левому краю */
    width: 100%; /* Ширина формы на всю ширину экрана */
    z-index: 1000; /* Установка z-index для правильного отображения над остальным контентом */
    display: flex;
    align-items: center;
    padding: 3px 7px;
  }

  .form-search .form-control {
    flex: 1;
  }
}
